.item {
  background-color: #E8F3D6;
  border-radius: .5rem;
  padding: .5rem;
  margin: .5rem;
  width: 300px;
  position: relative;
}

.deleteIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}