:root {
  --primary-color: #888;
  --secondary-color: #f0f0f0;
  --bg-color: #ffe8df;
  --content-gb: #fff;
  --primary-blue: #0070f3;
}

.dark-theme {
  --primary-color: #ddd;
  --secondary-color: #222831;
  --bg-color: #423f3e;
  --primary-blue: #0070f3;
}

.light {
  --primary-color: #888;
  --secondary-color: #f0f0f0;
  --bg-color: #ffe8df;
  --content-gb: #fff;
  --primary-blue: #0070f3;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--bg-color);
  color: #555;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

time {
  color: #65647c;
  font-size: 16px;
}

title {
  color: #735f32;
  font-size: 20px;
}

pre {
  font-size: 14px;
  border-radius: 0.5rem;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}
