:root {
  --primary-color: #888;
  --secondary-color: #F0F0F0;
  --bg-color: #FFE8DF;
  --content-gb: #FFF;
}

.dark-theme {
  --primary-color: #DDD;
  --secondary-color: #222831;
  --bg-color: #423F3E;
}

.light {
  --primary-color: #888;
  --secondary-color: #F0F0F0;
  --bg-color: #FFE8DF;
  --content-gb: #FFF;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--bg-color);
  color: #555
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

time {
  color: #65647C;
  font-size: 16px;
}

title {
  color: #735F32;
  font-size:  20px;
}

pre {
  font-size: 14px;
  border-radius: 0.5rem;
}